.look-item {
    background-color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 240px;
    margin: 15px;
    -webkit-box-shadow: 1px 2px 5px 0 #acacac;
    -moz-box-shadow: 1px 2px 5px 0 #acacac;
    box-shadow: 1px 2px 5px 0 #acacac;
    min-height: 300px;
}

.look-item .item-img {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.look-item .item-content {
    border-top: solid 1px #dfdfdf;
    padding: 10px;
}

.item-content .title {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-content .blurb {
    font-size: 12px;
    margin-top: 5px;
}

.item-content .more {
    display: inline-block;
    margin-top: 5px;
}

.item-content .user {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #dfdfdf;
}

.item-content .user .user-img {
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 5px;
}

.item-content .user .user-name {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}